@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  /* font-variation-settings: "wght" 375, "GRAD" 88; */
  outline: none;
  background: #010101;
  overflow: hidden;
}

h1, div, p, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

a {
  @apply text-primary-1;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

.radial-gradient {
  position: absolute;
  height: var(--pdx-size);
  aspect-ratio: 1/1;
  background: radial-gradient(
    circle closest-side,
    var(--pdx-gradient) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}


/* make a border gradient that fades from opacity 0 to gray */
.bg-gradient {
  padding: 1px;
  background: linear-gradient(
    45deg,
    #FFFFFF00 0%,
    #FFFFFF55 100%
  );
}

.msg-gradient {
  padding: 1px;
  background: linear-gradient(
    45deg,
    #FFFFFF00 0%,
    #4295FF55 100%
  );
}

.msg-gradient-gray {
  padding: 1px;
  background: linear-gradient(
    45deg,
    #FFFFFF00 0%,
    #78777d55 100%
  );
}

/* scrollbar hidden */
.bar-hidden::-webkit-scrollbar {
  width: 0;
}

/* scrollbar hidden */
.bar-hidden {
  scrollbar-width: none;
}

.chat-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #17191F #17191F;
}

.chat-scrollbar:hover {
  scrollbar-color: #25272D #17191F;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background: #25272D;
  border-radius: 2px;
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #32353a;
  border-radius: 2px;
}


.chat-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.message ~ .hidden-data {
  opacity: 0;
  user-select: none;
}

.message:hover ~ .hidden-data {
  opacity: 1;
}

.msg-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #121318 #121318;
}

.msg-scrollbar:hover {
  scrollbar-color: #17191F #121318;
}

.msg-scrollbar::-webkit-scrollbar-thumb {
  background: #121318;
  border-radius: 2px;
}

.msg-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #17191F;
  border-radius: 2px;
}


.msg-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.side-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1e1d27 #1e1d27;
}

.side-scrollbar:hover {
  scrollbar-color: #17191F #1e1d27;
}

.side-scrollbar::-webkit-scrollbar-thumb {
  background: #1e1d27;
  border-radius: 2px;
}

.side-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #17191F;
  border-radius: 2px;
}


.side-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* 90 degree gradient from dark to transparent */
.fade-off {
  background: linear-gradient(
    0deg,
    #17191FFF 0%,
    #17191FCC 25%,
    #17191FAA 50%,
    #00000000 100%
  );
}